<& /SelfService/Elements/Header,
    Title => loc("Request Forms") ,
    &>
%#<& /Elements/ListActions, &>

<!--
<p class="instructions">Click on the appropriate form name below to begin creating a request.</p>
-->

<div id="ist-forms-list">
  <h2>Information Systems and Technology (IST) request forms</h2>
<ul>

Most of IST has started using Jira Service Management for requests. 

<li><a href='https://uwaterloo.atlassian.net/servicedesk/customer/portal/2'>IST Jira Service Management Request Forms.</a></li>
<hr>
</ul>
</div>

<div id="dept-forms-list">
  <h2>Other departmental request forms</h2>
<ul>
<li><a href='/SelfService/Forms/IAP-Data/'>Institutional Analysis and Planning (IAP) data request</a></li>
<li><a href='/SelfService/Forms/IAP-Space/'>Institutional Analysis and Planning (IAP) space request</a></li>
</ul>
</div>

<%ARGS>
</%ARGS>
